<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout Page</title>
    <link rel="stylesheet" href="{% static 'css\stylesheet_logout.css' %}" />
</head>
<body>

    <div class="logout-container">
        <h2>Are you sure you want to logout?</h2>
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>
